.main {
    margin-top: 100px;
    line-height: 1.7;

    .zelena-crta {
        height: 30px;
        width: 100%;
        background-color: #3dc2c2;
        margin-bottom: 45px;
    }

    .first-group-4 {
        display: flex;
        padding-left: 70px;
        margin-bottom: 90px;

        .one {
            border-right: 1px solid #e6e6e6;
            padding: 10px 50px 0 35px;
            width: 23%;

            img {
                height: 70px;
                width: 100px;
                cursor: pointer;
            }

            span {
                display: block;
                font-size: 14px;
                color: #373737;
                margin-bottom: 7px;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    padding-left: 15px;
                }
            }

            span:first-child {
                content: '';
                height: 3px;
                width: 40px;
                background-color: #077d8b;
                margin-bottom: 15px;

            }

            h4 {
                font-size: 18px;
                margin: 10px 0 30px 0;
                font-weight: 400;
            }

            &:first-child {
                p {
                    color: #999999;
                    font-size: 13px;
                    margin: 2px 0;
                    padding-left: 15px;
                }
            }

            &:last-child {
                border: none;
            }

            i {
                display: none;
            }

        }
    }


    .green-area {
        background-color: #077d8b;
        color: white;

        .second-group-4 {
            display: flex;
            padding: 45px 90px;

            .one-div {
                width: 22%;
                border-left: 1px solid #4c97a3;
                padding: 0 30px;
                margin-right: 30px;

                span {
                    display: block;
                    font-size: 17px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;
                    cursor: pointer;
                }

                &:first-child {
                    border: none;

                    span {
                        color: #c8dfe2;
                        font-size: 14px;
                    }
                }

                &:last-child {
                    .last-child-imgs {
                        display: flex;

                        img {
                            height: 37px;
                            width: 130px;
                            display: inline;
                            cursor: pointer;
                        }

                        img:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }

        }

        hr {
            margin: 0 auto;
            display: block;
            width: 88%;
            border-color: white;
        }

        .link-group {
            display: flex;
            justify-content: space-between;
            padding: 15px 60px 40px 60px;

            ul {
                display: flex;
                margin: 0;

                li {
                    margin: 15px 12px 0 12px;

                    a {
                        text-decoration: none;
                        color: white;
                        position: relative;
                        font-size: 13px;
                        font-weight: 300;

                        span {
                            content: '';
                            display: block;
                            height: 1px;
                            width: 0%;
                            background-color: white;
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            transition: .5s;
                        }

                        &:hover {
                            span {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .first-ul {
                padding-left: 5px;

                li {
                    margin: 15px 20px 0 20px;
                }
            }

            .second-ul {

                .flex-icons {
                    display: flex;

                    i {
                        font-size: 20px;
                        transition: transform 0.4s;

                        &:hover {
                            transform: translateY(-5px);
                        }
                    }

                    .fa-facebook {
                        font-size: 18px;
                    }
                }

                .back-to-the-top-div {
                    display: flex;

                    .back-to-the-top {
                        a:nth-child(2) {
                            display: none;
                        }
                    }
                }

                span {
                    cursor: pointer;
                }
            }

        }
    }



    //tablet verzija


    @media screen and (max-width: 1200px){
        
    
        .green-area {
    
            .second-group-4 {
                padding: 45px 60px;
    
                .one-div {
                    width: 24%;
                    margin-right: 15px;
    
    
                    &:last-child {
                        .last-child-imgs {
    
                            img {
                                height: 32px;
                            }
                        }
                    }

                    span{
                        font-size: 16px;
                    }
                }
    
            }
    
            hr {
                margin: 0 auto;
                display: block;
                width: 88%;
                border-color: white;
            }
    
            .link-group {
                display: flex;
                justify-content: space-between;
                padding: 15px 60px 40px 60px;
    
                ul {
                    display: flex;
                    margin: 0;
    
                    li {
                        margin: 15px 12px 0 12px;
    
                        a {
                            text-decoration: none;
                            color: white;
                            position: relative;
                            font-size: 13px;
                            font-weight: 300;
    
                            span {
                                content: '';
                                display: block;
                                height: 1px;
                                width: 0%;
                                background-color: white;
                                position: absolute;
                                left: 0;
                                bottom: -4px;
                                transition: .5s;
                            }
    
                            &:hover {
                                span {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
    
                .first-ul {
                    padding-left: 5px;
    
                    li {
                        margin: 15px 20px 0 20px;
                    }
                }
    
                .second-ul {
    
                    .flex-icons {
                        display: flex;
    
                        i {
                            font-size: 20px;
                            transition: transform 0.4s;
    
                            &:hover {
                                transform: translateY(-5px);
                            }
                        }
    
                        .fa-facebook {
                            font-size: 18px;
                        }
                    }
    
                    .back-to-the-top-div {
                        display: flex;
    
                        .back-to-the-top {
                            a:nth-child(2) {
                                display: none;
                            }
                        }
                    }
    
                    span {
                        cursor: pointer;
                    }
                }
    
            }
        }
    
    }




    //telefon verzija
    @media screen and (max-width: 600px) {

        .zelena-crta {
            margin-bottom: 25px;
        }

        .first-group-4 {
            display: block;
            padding: 0;
            margin: 0;

            .one {
                border: none;
                padding: 0;
                width: 88%;
                margin: 20px auto 50px auto;


                .wrap-h4-i {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;

                    h4 {
                        font-weight: 500;
                        display: inline;
                        margin: 0;
                        font-size: 19px;
                    }

                    i {
                        display: inline;
                        font-weight: 900;
                        font-size: 20px;
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            color: white;
                        }
                    }
                }

                span {
                    display: none;
                }

                span:first-child {
                    display: block;
                }


                &:first-child {
                    p {
                        display: none;
                    }
                }

            }
        }


        .green-area {

            .second-group-4 {
                display: block;
                padding: 0px;

                .one-div {
                    width: 85%;
                    border-bottom: 1px solid #4c97a3;
                    border-left: none;
                    padding: 30px 0;
                    margin: 0 auto;

                    span {
                        font-size: 20px;
                        font-weight: 400;
                    }

                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 300;
                        cursor: pointer;
                    }

                    &:first-child {
                        display: none;
                    }
                }

            }


            .link-group {
                display: block;
                padding: 0;

                ul {
                    display: block;
                    margin: 0 auto;
                    border-top: 1px solid #4c97a3;
                    width: 85%;
                    padding: 25px 0;

                    li {
                        margin: 0px;
                    }
                }

                .first-ul {
                    li {
                        margin: 5px 0;
                    }
                }

                .second-ul {

                    .flex-icons {
                        justify-content: space-between;
                        padding: 20px 0;
                        border-bottom: 1px solid #4c97a3;
                    }

                    .back-to-the-top-div {
                        justify-content: space-between;
                        padding: 20px 20px 20px 0;

                        li:first-child {
                            width: 80%;

                            a:first-child {
                                display: none;
                            }

                            a:nth-child(2) {
                                display: inline;
                            }
                        }

                    }

                }

            }
        }
    }

}