<div class="main">
    <div class="zelena-crta"></div>

    <div class="first-group-4">
        <div class="one">
            <img src="../assets/img/main-page/logo.png.crdownload" alt="">
            <p>Copyright © 2023 Saudi</p>
            <p>Tourism Authority. All rights <br> reserved</p>
        </div>
        <div class="one">
            <span></span>
            <div class="wrap-h4-i">
                <h4>Seasons & Events</h4><i class="fa fa-angle-down" aria-hidden="true"></i> 
            </div>
            <span>Diriyah Season</span>
            <span>Boulevard Riyadh City</span>
            <span>Riyadh Season</span>

        </div>
        <div class="one">
            <span></span>
            <div class="wrap-h4-i">
                <h4>Discover Saudi</h4><i class="fa fa-angle-down" aria-hidden="true"></i> 
            </div>
            <span>See & Do</span>
            <span>Plan Your Trip</span>
            <span>Travel Essentials</span>
        </div>
        <div class="one">
            <span></span>
            <div class="wrap-h4-i">
                <h4>Useful Information</h4><i class="fa fa-angle-down" aria-hidden="true"></i> 
            </div>
            <span>About Saudi</span>
            <span>Safety Travel Tips</span>
            <span>Useful Contacts</span>
            <span>Travel Guidelines</span>
        </div>
    </div>

    <div class="green-area">
        <div class="second-group-4">
            <div class="one-div">
                <span>Powered By</span>
            </div>
            <div class="one-div">
                <span>Preferences</span>
            </div>
            <div class="one-div">
                <span>Call center</span>
                <p>Local Call Center</p>
                <p>International Call Center</p>
            </div>
            <div class="one-div">
                <span>Download our mobile app</span>
                <div class="last-child-imgs">
                    <img src="../assets/img/main-page/App-store-desktop.png">
                    <img src="../assets/img/main-page/google-play-blanco-desktop.png">
                </div>
            </div>
        </div>
        <hr>

        <div class="link-group">
            <ul class="first-ul">
                <li><a href="">Contact Us<span></span></a></li>
                <li><a href="">Privacy Policy<span></span></a></li>
                <li><a href="">Cookies<span></span></a></li>
            </ul>
            <ul class="second-ul">
                <li><a href="">Connect with us</a></li>
                <div class="flex-icons">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                </div>
                    <div class="back-to-the-top-div">
                        <li class="back-to-the-top"><a href="">Back to top</a> <a href="">Copyright © 2023 Saudi Tourism Authority. All rights reserved</a></li>
                        <li><a href="#"><span class="material-symbols-outlined"> expand_less</span></a></li>
                    </div>
            </ul>
        </div>
    </div>
</div>