.main {
    .headline {
        margin: 100px 0 30px 105px;
        display: flex;
        justify-content: space-between;
    }

    .photo-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 100px;

        .one {
            margin: 0 18px;
            width: 280px;
            cursor: pointer;
            box-shadow: 0 0 10px rgb(230, 230, 230);
            transition: .8s;
            border-radius: 15px;

            img {
                height: 155px;
                width: 280px;
                border-radius: 15px 15px 5px 5px;
                object-fit: cover;
            }

            div {
                padding: 20px 27px;
                position: relative;
                line-height: 25px;

                span{
                    font-size: 18px;
                    font-weight: 500;
                }

                a {
                    color: #077d8b;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    border-top: 1px solid #e6e6e6;
                    padding-top: 10px;
                    margin-top: 45px;
                    font-size: 15px;
                    font-weight: 500;

                    .fa-angle-right {
                        color: #077d8b;
                        font-weight: bold;
                        align-self: center;
                    }
                }
            }

            &:hover{
                box-shadow: 0 0 12px rgb(166, 165, 165);
            }
        }

    }

    @media screen and (max-width: 1200px){
        .headline {
            margin: 100px 0 30px 70px;
            h2{
                font-size: 25px;
            }
        }
    
        .photo-container {
    
            .one {
                width: 240px;
    
                img {
                    height: 140px;
                    width: 240px;
                }
            }
    
        }
    
    }


    @media screen and (max-width: 600px){
        .headline {
            margin: 0;
            padding: 0 75px;
            h2{
                font-size: 40px;
            }
        }
    
        .photo-container {
            display: block;
    
            .one {
                margin: 30px auto;
                width: 450px;
    
                img {
                    height: 230px;
                    width: 450px;
                }
    
                div {
                    a {
                        margin-top: 25px;
                    }
                }
    
                &:hover{
                    box-shadow: 0 0 15px 5px rgb(166, 165, 165);
                }
            }
    
        }
    }

}