<div class="main">
    <div class="headline">
        <h2>Know Before You Go</h2>
    </div>

    <div class="photo-container">
        <div class="one">
            <img src="assets/img/main-page/tips/1.webp" alt="">
            <div>
                <span>About Saudi</span>
                 <a href="">Learn more<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/tips/2.webp" alt="">
            <div>
                <span>Safety travel tips</span>
                 <a href="">Learn more<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/tips/3.webp" alt="">
            <div>
                <span>Useful contacts</span>
                 <a href="">Learn more<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/tips/4.webp" alt="">
            <div>
                <span>Travel regulations</span>
                 <a href="">Learn more<i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>

</div>