.main {
    background: linear-gradient(rgb(0 0 0 / 30%), rgb(28 27 27 / 50%)),
        url(../../../assets/img/main-page/authentic/cover.webp) no-repeat;
    height: 600px;
    background-size: cover;
    background-position: 50%;
    color: white;
    position: relative;
    margin-bottom: 120px;

    .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
    }

    h1 {
        padding: 65px 0 10px 115px;
        font-size: 31px;
    }

    hr {
        display: block;
        margin: 0 auto;
        width: 85%;
        border: 1px solid white;
    }

    .context {
        display: flex;
        margin-top: 150px;

        .first {
            padding-left: 100px;

            .heart {
                background-color: #c0bbbb61;
                font-size: 18px;
                padding: 10px;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
                vertical-align: sub;

                &:hover {
                    background-color: rgb(194 191 191 / 20%);
                }
            }

            .text-heart {
                font-size: 10px;
            }

            h2 {
                font-size: 44px;
                text-shadow: 0 0 3px black;
                padding: 12px 0 5px 15px;
            }

            p {
                padding-left: 15px;
                font-size: 14px;
                font-weight: 200;
            }

            a {
                text-decoration: none;
                color: black;
                background-color: white;
                border-radius: 20px;
                padding: 10px 25px;
                font-size: 14px;
                font-weight: 500;
                margin: 25px 0 0 15px;
                display: inline-block;
                overflow: hidden;
                position: relative;
                transition: .2s transform ease-in-out;


                &::after {
                    background-color: #077d8b;
                    border-radius: 20px;
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-100%, 0) rotate(10deg);
                    transform-origin: top left;
                    transition: .3s transform ease-out;
                    z-index: -1;
                }

                &:hover::after {
                    transform: translate(0, 0);

                }

                &:hover {
                    transform: scale(1.05);
                    will-change: transform;
                    color: white;
                }


                span {
                    vertical-align: sub;
                    font-size: 15px;
                    padding-left: 5px;
                }
            }

        }

        .second {
            display: block;
            margin: auto 35px 0 380px;

            span {
                font-size: 15px;
                color: black;
                background-color: white;
                padding: 22px;
                border-radius: 50%;
                cursor: pointer;
                transition: .8s;

                &:hover {
                    background-color: #e2e1e1;
                }
            }

            span:first-child {
                display: block;
                margin-bottom: 10px;
            }
        }

        .third {
            display: flex;
            align-items: end;
            overflow: hidden;

            img {
                height: 210px;
                width: 280px;
                object-fit: cover;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            img:nth-child(2) {
                object-position: 37%;
                padding-left: 13px;
            }
        }
    }



    //teblet verzija 

    @media screen and (max-width: 1200px) {

        height: 700px;


        h1 {
            padding: 40px 0 10px 100px;
        }

        hr {
            width: 83%;
        }

        .context {
            margin-top: 300px;

            .second {
                margin: auto 35px 0 200px;
            }

            .third {

                img {
                    height: 175px;
                    width: 250px;
                }
            }
        }
    }




    //telefon verzija
    @media screen and (max-width: 600px) {

        height: 530px;
        background-position: 50%;
        margin-bottom: 250px;

        .line {
            display: none;
        }

        h1 {
            padding: 65px 0px 10px 55px;
            font-size: 40px;
            letter-spacing: 1px;
            text-shadow: 1px 1px 15px rgb(34, 34, 34);
        }

        .context {
            display: block;
            margin-top: 200px;
            padding-left: 0;

            .first {
                padding-left: 0;

                .heart {
                    margin-left: 40px;
                    margin-right: 0;
                }

                .text-heart {
                    display: none;
                }

                h2 {
                    font-size: 55px;
                    text-shadow: none;
                    padding-left: 10px;
                    margin-left: 40px;
                }

                p {
                    padding: 30px 23px;
                    padding-bottom: 70px;
                    background-color: white;
                    color: black;
                    width: 500px;
                    margin: 0 auto;
                    font-weight: 300;
                    box-shadow: 0 4px 10px -2px rgb(203, 202, 202);
                }

                a {
                    margin: 0;
                    padding: 0;
                    border-radius: 0;
                    display: inline-block;
                    color: #077d8b;
                    transition: none;
                    position: absolute;
                    bottom: -45px;
                    left: 74px;
                    font-size: 15px;

                    &::after {
                        content: none;
                    }

                    &:hover {
                        transform: none;
                        color: #077d8b;
                    }

                    span {
                        vertical-align: middle;
                        padding-left: 20px;
                        font-weight: 600;
                    }
                }

            }

            .second,
            .third {
                display: none;
            }

        }

    }
}