<div class="main">
    <img class="line" src="assets/img/04.png" alt="">
    <h1>Authentically Saudi</h1>
    <hr>

    <div class="context">
        <div class="one first">
            <span class="material-symbols-outlined heart">favorite</span><span class="text-heart">Save my favourites</span>
            <h2>Eat and Drink</h2>
            <p>From Kabsah to Saudi authentic coffee, you will taste something that is not found anywhere in the world.</p>
            <a href="">Learn More<span class="material-symbols-outlined">chevron_right</span></a>
        </div>
        <div class="one second">
            <span class="material-symbols-outlined">chevron_left</span>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
        <div class="one third">
            <img src="assets/img/main-page/authentic/shopping-in-saudi-ar.jpg" alt="">
            <img src="assets/img/main-page/authentic/cover.webp" alt="">
        </div>
    </div>
</div>