<div class="main">
    <div class="headline">
        <h2>What to Experience</h2>
        <a href="">View all</a>
    </div>
    <div class="photo-container">
        <div class="one">
            <img src="assets/img/main-page/experience/1.webp" alt="">
            <div class="description">
                <p>Al Ahsa</p>
                <p> Al Ahsa City VIP Tour: Desert Safari & Day Trip</p>
                 <div class="price">
                     <p>Starting from</p>
                     <span class="span-a">840 SAR</span> <span class="span-b">1050 SAR</span> <span class="span-c">20% off</span>
                 </div>
                 <a href="">Book Now<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/experience/2.webp" alt="">
            <div class="description">
                <p>Riyadh</p>
                <p>Day at Camp Dalila</p>
                 <div class="price">
                     <p>Starting from</p>
                     <span class="span-a">750 SAR</span>
                 </div>
                 <a href="">Book Now<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/experience/3.webp" alt="">
            <div class="description">
                <p>Riyadh</p>
                <p>Edge of the World</p>
                 <div class="price">
                     <p>Starting from</p>
                     <span class="span-a">250 SAR</span>
                 </div>
                 <a href="">Book Now<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="one">
            <img src="assets/img/main-page/experience/4.webp" alt="">
            <div class="description">
                <p>Riyadh</p>
                <p>Horseback Safari at Nofa Wildlife Park</p>
                 <div class="price">
                     <p>Starting from</p>
                     <span class="span-a">200 SAR</span>
                 </div>
                 <a href="">Book Now<i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>


    <div class="row exclusive-offer">
        <div class="col first-col">
            <div>
                <p>For Unique Travel Experience</p>
                <span>Enjoy our Exclusive Offers</span>
            </div>
            <img src="assets/img/blury-line.png">
        </div>
        <div class="col sec-col">
            <img src="assets/img/main-page/experience/partners-promotions-banner-link.png">
            <a href="">Check Now</a>
        </div>
    </div>


</div>